
 h1,
 .model,
p,
b {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img {
  width: 340px;

}

.box {
  width: 350px;
  border: 4px solid #395B64;
  border-radius: 10px;
  background-color: grey;
}
.box h1 {
  color: white;
  text-align: center;
  background-color: #2C3333;
  width: 345px;
  margin: 0;
  border-radius: 6px 8px 0px 0px;
}

.model {
  text-align: center;
  background-color: #395B64;
  color: white;
  border-radius: 0px 0px 8px 8px;
  margin: 2px;
}

.price{
  width: 100%;
  background-color: white;
  text-align: center;
  margin: 10px 0 20px 0;
}

.card-sumar-restar {
  margin: 0px 0 10px 110px;
}

.card-detail {
  cursor: pointer;
  display: block;
  margin: 5px 25px;
}

.detail{
  background-color: #395B64;
  color: white;
  padding: 5px;
  border-radius: 6px;
}

.detail:hover {
  background-color: white;
  color: black;
  transition: .4s;
}

.card-button {
  margin: 5px 10px;
  width: 35px;
  background-color: black;
  color: white;
  font-size: 20px;
  border-radius: 3px;
  cursor: pointer;
}
